

.logo{
    position: absolute;
    width: 100px;
    top: 0px;
    left: 20px;
    
}



.section1{
    width: 100%;
    height: 100vh;
    position: relative;
}

#slide1{
    background-image: url(../image/bg1.jpg);
    background-size: cover;
    background-position: center;
}

#slide2{
    background-image: url(../image/bg2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#slide3{
    background-color: rgb(255, 255, 255);
    position: relative;
}

#slide4{
    background-image: url(../image/bg4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.nav-link{
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

.intro{
    position: absolute;
    
}

.upper{
    position: absolute;
    padding-top: 250px ;
    right: 120px;
    font-family: 'Nanum Myeongjo', serif;
    
}

.upper h2{
    font-size: 120px;
    margin-top: 250px;
    font-weight: 500;
    color: aliceblue;
    line-height: 100%;
}

.upper p {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(255, 248, 248);
    display: inline-block;
    width: 400px;
}

.upper p a{
    font-size: 14px;
    color: black;
}


#slide2 #swim{
    width: 550px;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 20px;
    border-radius: 15px;
}



#slide3 #food{
    width: 550px;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 20px;
    border-radius: 15px;
}

#slide4 #sit{
    width: 700px;
    margin-top: 80px;
    
    border-radius: 15px;
}

#slide2 h2{
   
    font-family: 'Nanum Myeongjo', serif;
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
}

#slide2 p{ 
    margin-top: 10px;
    padding: 0px 80px;
    line-height: 1.6;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.content{
    display: flex; 
    align-items:center; 
 }

#slide3 h2{
   
    font-family: 'Nanum Myeongjo', serif;
    color: rgb(0, 0, 0);
    font-size: 35px;
    
    letter-spacing: 1px;
}

#slide3 p{
    margin-top: 10px;
    padding: 0px 80px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}



#slide4 h2{
    margin-top: 40px;
    font-family: 'Nanum Myeongjo', serif;
    color: rgb(0, 0, 0);
    font-size: 35px;
    letter-spacing: 1px;
}

#slide4 p{ 
    margin-top: 10px;
    padding: 0px 250px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}




.footer{
    background-color: #3e4451;
   
}

@media only screen and (max-width:1200px) {
    .logo{
        position: absolute;
        width: 100px;
        top: 0px;
        left: auto;
        right: 10px;
        
    }
    .navbar{
        background-color: rgb(244, 78, 122);
        
    }
   
    .upper{
        position: absolute;
        padding-top: 200px ;
        right: 5px;
       
    }
    .upper h2{
        font-size: 80px;
        margin-bottom: 0;
        color: aliceblue;
    }

    .upper p {
        margin-top: 10px;
        font-size: 20px;
        color: rgb(255, 248, 248);
        display: inline-block;
        width: 300px;
    }

    #slide2 #swim{
        width: 550px;
        margin-top: 50px;
        margin-bottom: 0px;
        
    }

    #slide2 h2{
        margin-top: 10px;
        font-family: 'Nanum Myeongjo', serif;
        color: white;
        font-size: 30px;
        margin-left: 30px;
        letter-spacing: 1px;
    }

    
   

    #slide3 #food{
        width: 340px;
        margin-top: 50px;
        margin-bottom: 0px;
       
    }

    #slide3 h2{
        margin-top: 10px;
        font-size: 30px;
       
    }
    
    #slide4 h2{
        margin-top: 10px;
        font-size: 30px;
       
    }

    #slide4 #sit{
        width: 620px;
        margin-top: 100px;
        margin-bottom: 0px;
        
    }

    #slide4 p{ 
        margin-top: 10px;
        padding: 0px 100px;
     }

     .content{
        display: flex; 
        align-items:flex-start; 
     }

}





@media only screen and (max-width:768px) {
    
    #slide1{
        background-position: 45% 45%;
    }
    
    
    .upper{
        position: absolute;
        padding-top: 200px ;
        right: 5px;
       
    }
    .upper h2{
        font-size: 80px;
        margin-bottom: 0;
        color: aliceblue;
    }

    .upper p {
        margin-top: 10px;
        font-size: 20px;
        color: rgb(255, 248, 248);
        display: inline-block;
        width: 300px;
    }

    #slide2 #swim{
        width: 300px;
        margin-top: 50px;
        margin-bottom: 0px;
        
    }

    #slide2 h2{
        margin-top: 10px;
        margin-right: 0px;
        margin-left: 0px;
        font-family: 'Nanum Myeongjo', serif;
        color: white;
        font-size: 20px;
        
        letter-spacing: 1px;
    }

    #slide2 p{
        margin-right: 0px;
        font-size: 15px;
        margin-top: 5px;
        padding: 0px 10px;
    }

    #slide3 #food{
        width: 280px;
        margin-top: 60px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding: 0px;
    }

    #slide3 h2{
        margin-top: 10px;
        font-size: 20px;
        margin-left: 0px;
       
    }


    #slide3 p{
        margin-right: 0px;
        font-size: 15px;
        margin-top: 5px;
        padding: 0px 10px;
       
    }

  
    
    #slide4 h2{
        margin-top: 10px;
        font-size: 20px;
       
    }

    #slide4 p{
        margin-right: 0px;
        font-size: 15px;
        margin-top: 5px;
        padding: 0px 10px;
       
    }

    #slide4 #sit{
        width: 320px;
        margin-top: 100px;
        margin-bottom: 0px;
        
    }
    
    .content{
        display: flex; 
        align-items:flex-start; 
     }
}